
  * {color: black;}
body {background-image: url("https://res.cloudinary.com/arned/image/upload/v1650757989/samples/ARned/Birthday_Image_2_ltb3yo.jpg");
background-repeat: no-repeat;
background-size: cover;}
* {font-size: large;}
