
  * {color: black;}
body {background-image: url("https://res.cloudinary.com/arned/image/upload/v1650756552/samples/ARned/Birthday_Image_zo8cof.jpg");
background-repeat: no-repeat;
background-size: cover;}
* {font-size: large;}
